# History files
.Rhistory
.Rapp
*.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/
.Rproj
.Rproj.user
*.Rproj

# Outputs
*.pdf
*.tar.gz
*.tex
#*.mat
*.zip
*.png

# Configuration file
cfg.R

*.log

*.out

*.toc
